# Игнорировать файлы виртуального окружения
venv/
env/
.venv/

# Игнорировать базу данных SQLite (если есть)
db.sqlite3

# Игнорировать .env файл (он не должен попасть в образ!)
.env

# Игнорировать файлы IDE
.idea/
.vscode/

# Игнорировать временные файлы и кэш
__pycache__/
*.pyc
*.log
*.tmp

# Игнорировать файлы Docker Compose, которые не нужны в образе
docker-compose.yml
Dockerfile

# Игнорировать папку staticfiles, если она собирается только внутри контейнера
# Если вы хотите, чтобы staticfiles собирались локально, закомментируйте эту строку
static/ # Или staticfiles/ если так называется ваша папка

# Если вы используете S3 и у вас есть локальные файлы для загрузки (например, для тестирования)
# media/
